<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IGEN | Log in</title>
    <link rel="icon" type="image/png" href="images/tabicon.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
      <a id="a1" href="index.html"><img id="logo" src="images/IGEN_red.png" alt="logo" /></a>
    </header>

    <div class="menu">
      <ul>
        <li><a href="Index.html">Home</a></li>
        <li><a href="magazine.html">The Magazine</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div>

    <h1 id="logintop">Log in to IGEN</h1>
    <hr id="logintophr">
    <form id="loginform">
      <label for="email">Email: </label>
      <input id="email" type="email" required/>
      <label for="password">Password: </label>
      <input id="password" type="text" required/>
      <input id="submit" type="submit" value="Log in"/>
    </form>

    <hr id="articlehr-login">
    <p class="smp">Visit us on social media</p>

    <div id="socialmedia">
      <a id="spa1-login" href="https://facebook.com"><img class="sm" src="images/facebook.png" alt="facebook" /></a>
      <a id="spa2-login" href="https://twitter.com"><img class="sm" src="images/twitter.png" alt="twitter" /></a>
      <a id="spa3-login" href="https://instagram.com"><img class="sm" src="images/instagram.png" alt="instagram" /></a>
      <a id="spa4-login" href="https://youtube.com"><img class="sm" src="images/youtube.png" alt="youtube" /></a>
    </div>

    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
