<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>IGEN | Home</title>
    <link rel="icon" type="image/png" href="images/tabicon.png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

    <header>
      <button class="hamburger">&#9776;</button>
      <button class="cross">&#735;</button>
      <a id="a1" href="index.html"><img id="logo" src="images/IGEN_red.png" alt="logo" /></a>
    </header>

    <div class="menu">
      <ul>
        <li><a href="Index.html">Home</a></li>
        <li><a href="magazine.html">The Magazine</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="login.html">Login</a></li>
        <li><a href="register.html">Register</a></li>
      </ul>
    </div>

    <div id="content">
      <h1 id="mostread">Most read</h1>
      <h1 class="sidehead1"><a class="sidehead1" href="article.html">Fortnite is the most played game right now</a> <a class="hide">hidden1</a> <a class="sidehead2" href="article.html">The GTX 1060 is only $199 for a limited time</a></h1>
      <a class="sidepic1" href="article.html"><hr id="hr1"><img class="sidepic1" src="https://cdn.mos.cms.futurecdn.net/UzN3i83teDGM3RvvtDyuxf-650-80.jpg" alt="most read 1" /> <img class="sidepic2" src="https://cdn.mos.cms.futurecdn.net/L2mvXrVt3psHHM7fM2LWaD-650-80.jpg" alt="most read 1" /><hr></a>
      <h1 class="sidehead3"><a class="sidehead3" href="article.html">Radical Heights is the hottest new battle royale</a> <a class="hide">hidden2</a> <a href="article.html">The return of Battlefield in 2018</a></h1>
      <a class="sidepic3" href="article.html"><img class="sidepic3" src="https://cdn.mos.cms.futurecdn.net/mW35CbYGMypUDBpG3dcJgU-320-80.jpg" alt="most read 1" /> <img id="pic1" src="https://cdn.mos.cms.futurecdn.net/eZ6pqBFQtymNTiksWQCJWo-650-80.jpg" alt="main headline" /><hr></a>
    </div>

    <hr id="cutcards">
    <div id="recent">

      <div id="vr"><h1 id="justposted">Just posted</h1></div>

      <div class="center1">
        <a id="rpa1" href="article.html"><img id="recentpic1" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
      </div>

      <a id="rha1" href="article.html"><h1 id="recentheader1"><span class="date">HH:MM - DDth M</span><br/>How to beat Dark Souls on the hardest difficulty</h1></a>

      <div class="center2">
        <a id="rpa2" href="article.html"><img id="recentpic2" src="https://cdn.mos.cms.futurecdn.net/MHeMAFuHTM6n5SmksXdF4P-320-80.jpg" alt="card" /></a>
      </div>

      <a id="rha2" href="article.html"><h1 id="recentheader2"><span class="date">HH:MM - DDth M</span><br/>How to beat Dark Souls on the hardest difficulty</h1></a>
    </div>

    <script src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
